<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        id="Your_WebApp_ID"
        version="2.5">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>/view/home.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
        <jsp-property-group>
            <url-pattern>*.tag</url-pattern>
            <scripting-invalid>false</scripting-invalid>
        </jsp-property-group>
    </jsp-config>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/dbpoolconnection</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
<!--    <filter>-->
<!--        <filter-name>loginfilter</filter-name>-->
<!--        <filter-class>com.learningwordsapp.controller.filters.LoginFilter</filter-class>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>loginfilter</filter-name>-->
<!--        <url-pattern>/</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>

